<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michael.discgolfapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MenuTheme">
        <activity android:name=".Activities.MainMenuActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RuntimeGameActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".Activities.CourseEditorMenuActivity"/>
        <activity android:name=".Activities.EditExistingCourseActivity"/>
        <activity android:name=".Activities.EditExistingPlayerActivity"/>
        <activity android:name=".Activities.CoursePickerActivity"/>
        <activity android:name=".Activities.AddCourseMenuActivity"/>
        <activity android:name=".Activities.PlayerEditorActivity"/>
        <activity android:name=".Activities.AddPlayerMenuActivity"/>
        <activity android:name=".Activities.PlayerPickerActivity"/>
        <activity android:name=".Activities.FinishedScorecardsActivity"/>
        <activity android:name=".Activities.UnfinishedScorecardsActivity"/>
        <activity android:name=".Activities.ScorecardOverview"
                  android:screenOrientation="landscape"/>
    </application>

</manifest>