<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manleysoftware.michael.discgolfapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/mdgt_darker"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MenuTheme">
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.RuntimeGameActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.CourseEditorMenuActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.EditExistingCourseActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.EditExistingPlayerActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.CoursePickerActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.AddCourseMenuActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.PlayerEditorActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.AddPlayerMenuActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.PlayerPickerActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.FinishedScorecardsActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.UnfinishedScorecardsActivity"/>
        <activity android:name="com.manleysoftware.michael.discgolfapp.Activities.ScorecardOverview"
                  android:screenOrientation="landscape"/>
    </application>

</manifest>